.card {
    margin: 50px auto;
    width: 40%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.card-img-top{
    height: 120px;
    width: 300px;
}

.center{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {

    .card {
        width: 60%;
    }

}

@media only screen and (max-width: 600px) {

    .card {
        width: 80%;
    }

    .card-img-top{
        height: 100px;
        width: 200px;
    }

}